@font-face {
    font-family: Brandon;
    src: url(Brandon.otf);
  }
  
  
  body {
    margin: 0;
    padding: 0;
    font-family: Brandon;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    }
    
    header {
    background-color: #172554;
    padding: 20px;
    }
    
    nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content:right;
    }
    
    nav li {
    display: inline-block;
    margin: 0 25px;
    padding: 0;
    margin-top: -50px;
    }
    
    nav .logo{
      height: 50px;
      width: 90px;
      margin-left: 20px;
  
    }
  
    nav a{
    text-decoration: none;
    color: #fdfbfb;
    position: relative;
    font-size: 20px;
  }
  
  nav a::after{
    content: '';
    width: 0%;
    height:3px;
    background: #f32805;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
    transition: 0.5s;
  }
  
  nav a:hover{
    text-decoration: none;
    color: #f32805;
  }
  nav a:hover:after{
   width: 100%;
  }

main {
	margin: 0 auto;
	padding: 30px;
    background-image: url('classbg.webp');
    background-size: 100%;
    
}

#classes {
	margin-bottom: 50px;
   
}

#classes h2 {
    font-size: 36px;
	margin-top: 0;
	margin-bottom: 70px;
    color: #f32805 ;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th, table td {
    font-size: 28px;
    border: 1px solid #f32805 ;
	padding: 10px;
}

